@import '../../../themes/partials/variables.scss';
 
.article {
    padding-top: 68px;

    &__content {
        padding: 6px 0;

        &__button {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 2px 0 56px 0 !important;
        }
    }
}