@import './partials/reset.scss';
@import './partials/responsive.scss';
@import './partials/colors.scss';
@import './partials/variables.scss';

html {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    font-size: 16px;
    line-height: 1.42857143;
    overflow-x: hidden !important
}

* {
    outline: none !important;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.16px;
    line-height: 41px;
}

p {
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 22px;
}

img {
    vertical-align: middle;
}

section {
    min-height: 576px;
    padding: 20px 0;

    .wrapper {
        &__content {
            &__heading {
                margin: 12px 0;
            }

            &__body {
                margin: 12px 0;
            }

            &__footer {
                margin: 30px 0;
            }
        }
    }
}

article {
    .media {
        height: 152px;
        position: relative;
        overflow: hidden;
        text-align: center;

        .img {
            &--size {
                height: auto;
                max-width: 100%;
                width: auto;
            }
        }
    }

    .caption {
        .article {
            &--title {
                font-size: 21px;
                font-weight: 600;
                letter-spacing: -0.11px;
                line-height: 28px;
                margin: 18px 0 22px 0;
                text-transform: lowercase;
            }

            &--description {
                font-size: 16px;
                letter-spacing: -0.09px;
                line-height: 22px;
            }
        }
    }
}

.eui {
    &-navbar {
        &-bar {
            box-shadow: none !important;
        }
    }

    &-panel {
        &-body {
            padding: 41px 29px;
        }
    }

    &-checkbox {
        padding: 0 0px 3px !important;
        
        &.focused {
            box-shadow: none !important;
        }
    }
}