html { }

body {
    background-color: #f1f4f9;
    color: #1D2121;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.42857143;
}

* {
    outline: none !important;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "logo menu menu menu menu . . . . . . account"
                         "alert alert alert alert alert alert alert alert alert alert alert alert"
                         "wrapper wrapper wrapper wrapper wrapper wrapper wrapper wrapper wrapper wrapper wrapper wrapper"
                         "newsletter newsletter newsletter newsletter newsletter newsletter . . . . . .";
}

section {
    height: auto;
    min-height: 576px;
}

h1 {
    font-size: 30px !important;
}

p {
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 22px;
}

img {
    height: auto;
    width: 100%;
}

ul, li {
    display: inline;
}

button {
    cursor: pointer;
}

button > span {
    color: #D8D8D8;
    font-size: 18px;
    height: 11.9px;
    left: 7px;
    position: absolute;
    transform: rotate(45deg);
    top: -3px;
    width: 1.41px;
}

article > img {
    height: 212px;
    max-height: 212px;
    min-height: 212px;
}

article > h2 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.11px;
    line-height: 28px;
    margin: 12px 0;
}

article > p {
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 22px;
    margin: 12px 0;
}

.background-primary {
    background-color: #DFEFFD;
}

.background-purple {
    background-color: #9100AD;
}

.background-white {
    background-color: #ffffff;
}

.rounded {
    border-radius: 50%;
}

nav.nav-bar {
    box-shadow: 0.2px 0 2px rgb(0,0,0,0.18);
    height: 66px;
}

nav .logo {
    grid-area: logo;
    padding: 10px 0;
}

nav .logo a > img {
    height: 43px;
    width: 61px;
}

nav .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    grid-area: menu;
    padding: 10px 0 14px 30px;
}

nav .menu .menu-item {
    margin-right: 21px;
}

nav .menu-item > a {
    color: #1D2121;
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 22px;
}

nav .menu .dropdown-button {
    display: inline-block;
    position: relative;
}

nav .menu .dropdown-list {
    background-color: #f1f4f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    min-width: 160px;
    overflow: auto;
    position: absolute;
    z-index: 1;
}

nav .menu .dropdown-list > li {
    display: inline-block;
}

nav .menu .dropdown-list .dropdown-item > a {
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

nav .menu .dropdown-list .dropdown-item {
    width: 100%;
}

nav .menu .dropdown-list .dropdown-item:hover {
    background-color: #ddd;
}

nav .menu .dropdown-button:hover .dropdown-list {
    display: block;
    transition: 0.4s all ease-in;
}

nav .account {
    align-items: center;
    display: flex;
    grid-area: account;
    flex-direction: row;
    justify-content: flex-end;
}

nav .account > a {
    align-items: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-weight: 600;
    height: 25px;
    justify-content: center;
    letter-spacing: -0.06px;
    line-height: 15px;
    width: 25px;
}

.alert {
    grid-area: alert;
    height: 25px;
    margin: 22px 0;
    padding: 10px 22px;
}

.alert .alert-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "description description description description description description description description description description description button-close";
}

.alert .alert-content .description {
    grid-area: description;
    font-size: 14px !important;
    letter-spacing: -0.08px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 0;
}

.alert .alert-content .description > p {
    font-size: 14px;
    letter-spacing: -0.08px;
    line-height: 19px;
}

.alert .alert-content .button-close {
    align-items: center;
    grid-area: button-close;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.alert .alert-content .button-close > button {
    background-color: #282E2E;
    border-radius: 50%;
    border-style: none;
    height: 16.10px;
    position: relative;
    width: 16.10px;
}

.button {
    border-radius: 2px;
    box-sizing: border-box;
    color: #ffffff;
    height: 39px;
    padding: 8px 26px;
    text-transform: lowercase;
    transition: 0.4s all ease-in;
}

.button::first-letter {
    text-transform: uppercase !important;
}

.button.primary {
    background-color: #0073E9;
    border: 1px solid #0073E9;
}

.button.primary:hover {
    background-color: #0050a2;
    border: 1px solid #0050a2;
}

.button.outline {
    background-color: transparent;
    border: 1px solid #ffffff;
}

.button.outline:hover {
    background-color: #ffffff !important;
    border: 1px solid #1D2121 !important;
    color: #1D2121 !important;
}

#stories .wrapper {
    grid-area: wrapper;
    padding: 14px 0 30px 0;
}

#stories .wrapper .content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 14px 10px;
}

#stories .wrapper > h1 {
    margin: 14px 0 22px 0;
    text-transform: lowercase;
}

#stories .wrapper > h1::first-letter {
    text-transform: uppercase !important;
}

#stories .wrapper .content {
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0,0.04);
    column-gap: 0;
    grid-template-columns: auto auto;
}

#stories .wrapper .content > article:nth-child(odd) {
    padding: 28px 37px 30px 18px;
}

#stories .wrapper .content > article:nth-child(even) {
    margin-bottom: 30px;
    padding: 28px 18px 30px 37px;
}

#stories .wrapper .action {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    padding: 16px 0;
}

#newsletter {
    background-image: url(./../img/newsletter.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#newsletter .newsletter-content {
    align-items: flex-start;
    grid-area: newsletter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(72vh + 10px);
    padding: 10px 50px 10px 26px;
}

#newsletter .newsletter-content > h2 {
    color: #ffffff;
    font-size: 30px;
    letter-spacing: -0.16px;
    line-height: 41px;
    margin: 0 0 6px 0;
}

#newsletter .newsletter-content > p {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 22px;
    margin: 6px 0 16px 0;
}

#newsletter .newsletter-content > button {
    margin: 26px 0 6px 0;
}