/***********************************
    ALERT STYLES
************************************/

.alert {
    grid-area: alert;
    margin: 14px 0;
    padding: 11px 22px;
}

.alert__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "description description description description description description description description description description description button-close";
}

.alert__description {
    grid-area: description;
    font-size: 14px !important;
    letter-spacing: -0.08px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 0;
}

.alert__message--paragraph {
    font-size: 14px;
    letter-spacing: -0.08px;
    line-height: 19px;
}

.alert__button {
    align-items: center;
    grid-area: button-close;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.alert__button--content {
    align-items: center;
    border: none;
    -moz-border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.8;
}

.alert__button--size {
    height: 17px;
    width: 17px;
}

.bar-close {
    background-color: #D8D8D8;
    display: block;
    height: 1.4px;
}

.bar-close:nth-child(1) {
    transform-origin: center center;
    transform: rotate(-45deg) translate(-0.35px, 1px);
    width: 11px;
}

.bar-close:nth-child(2) {
    transform-origin: center center;
    transform: rotate(45deg) translate(-0.5px, -0.5px);
    width: 11px;
}