/***********************************
    DIALOG STYLES
************************************/

.dialog {
    background-color: rgba(0,0,0,0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;    
}
  
.dialog__content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.dialog__close {
    height: 40px;
    width: 100%;
}

.dialog--button {
    border: none;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.large--size {
    height: 4px;
}

.large--size:nth-child(1) {
    transform-origin: center center;
    transform: rotate(-45deg) translate(-2px, 2px);
    width: 20px;
}

.large--size:nth-child(2) {
    transform-origin: center center;
    transform: rotate(45deg) translate(-0.5px, -0.5px);
    width: 20px;
}

.dialog__message {
    padding-bottom: 30px;
    text-align: center;
}

.dialog__message--size {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}