@import '../../../themes/partials/variables.scss';

.contact-us {
    padding: 36px 0;

    &__heading {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px 0 16px 0 !important;
    }

    &__content {
        padding: 0 !important;

        .eui-panel-body {
            padding: 44px 29px 0 29px !important;
        }

        .eui-row {
            &:nth-child(4) {
                .form-group {
                    margin-bottom: 36px !important;
                }
            }
        
            &:last-child {
                .form-group {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 25px !important;
                }
            }
        }
        
        .form {
            &__content {
                padding-top: 2px;
                padding-bottom: 20px;
            }

            &-group {
                margin-bottom: 44px;

                input {
                  /*   margin-top: 24px; */
                    /* margin-bottom: 24px; */
                }
            }
        }
    }
}