/***********************************
    CUSTOMIZE THEME
************************************/

$blue-lapis    : #0073E9;
$gray-daisy    : #DFEFFD;
$gray-jet      : #1D2121;
$gray-pearl    : #D8D8D8;
$gray-porcelain: #f1f4f9;
$gray-stone    : #4B5353;
$gray-raven    : #282E2E;
$purple        : #9100AD;
$red-candy     : red;
$white         : #ffffff;

/***********************************
    SHADOW
************************************/

$shadow-card: rgba(0,0,0,0.05);
$shadow-nav : rgba(0,0,0,0.18);

/***********************************
    BORDER
************************************/

$line-separator: #e6e8ec;
$border-area   : #D3DBE7;
